* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

.home {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7))), url("../images/home_image.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url("../images/home_image.png");
  min-height: 100vh;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(100% 0, 100% 80%, 50% 95%, 0 80%, 0 0);
          clip-path: polygon(100% 0, 100% 80%, 50% 95%, 0 80%, 0 0);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.home__arrows {
  width: 45px;
  height: 45px;
  border-radius: 2px;
  background-color: #6f6863;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  color: #303030;
}

.home__arrows--right {
  top: 43%;
  right: 50px;
}

.home__arrows--left {
  top: 43%;
  left: 50px;
}

@media (hover) {
  .home__arrows:hover {
    background-color: #e74c3c;
    color: #fff;
  }
}

.home__arrow {
  border: solid;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  cursor: pointer;
  position: absolute;
}

.home__arrow--right {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-right: 6px;
}

.home__arrow--left {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-left: 6px;
}

.anchor {
  position: absolute;
  z-index: 2;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  bottom: 20px;
  left: calc(50% - 37px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (hover) {
  .anchor:hover {
    background-color: #e74c3c;
  }
}

.anchor__square {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #f4f5f9;
  position: absolute;
  cursor: pointer;
  left: calc(50% - 32px);
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.line {
  max-width: 1920px;
  width: 100%;
  border: 1px solid #ddd;
  position: absolute;
  z-index: 5;
  bottom: 120px;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 60px 0;
  color: #f4f5f9;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-size: 36px;
  letter-spacing: 1px;
  line-height: 41px;
  color: #f1ebe7;
  font-weight: 300;
  padding: 4px 8px;
  border: 3px solid #f4f5f9;
}

.header__logo--special {
  color: #4a4c55;
  font-weight: 700;
  background-color: #f4f5f9;
  padding: 4px 10px;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list__link {
  cursor: pointer;
  padding: 10px 0;
  margin-left: 60px;
  text-decoration: none;
  color: #f4f5f9;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 2;
}

.list__link:active, .list__link:hover {
  color: #e74c3c;
  border-bottom: 1px solid #e74c3c;
  padding: 9px 0;
}

.burger {
  display: none;
}

.burger__label {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
}

.burger__line {
  width: 80%;
  height: 3px;
  background: #f4f5f9;
}

@media (max-width: 1024px) {
  .burger__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
  .header__navigation {
    max-height: 100vh;
    overflow: auto;
    position: absolute;
    background-color: #e74c3c;
    width: 100%;
    top: 50px;
    left: 0;
    z-index: 1;
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .list {
    height: auto;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .list__item {
    display: block;
  }
  .list__link {
    padding: 5px;
  }
  .burger:checked ~ .header__navigation {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
}

.homepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f4f5f9;
  padding-top: 50px;
}

.homepage__subtitle {
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  margin: 25px 0;
}

.homepage__title {
  font-size: 72px;
  letter-spacing: 7px;
  font-weight: 700;
  margin: 25px 0;
}

.homepage__lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 0;
}

.homepage__line {
  width: 79px;
  height: 1px;
  background-color: #000000;
  border: 1px solid #f1ebe7;
}

.homepage__square {
  width: 7px;
  height: 7px;
  border-radius: 3px;
  background-color: #e74c3c;
  margin: 0 15px;
}

.homepage__text {
  max-width: 600px;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: #cbc6c0;
  font-weight: 400;
  text-align: center;
  margin: 25px 0;
}

.homepage__buttons {
  margin: 45px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homepage__button {
  border: none;
  width: 225px;
  height: 56px;
  border-radius: 3px;
  -webkit-filter: drop-shadow(0px 2px 2.5px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 2px 2.5px rgba(0, 0, 0, 0.25));
  background-color: #e74c3c;
  margin: 0 15px;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

@media (hover) {
  .homepage__button:hover {
    border: 1px solid #e74c3c;
    background-color: transparent;
    color: #e74c3c;
  }
}

.homepage__button--special {
  line-height: 40px;
  height: 54px;
  border: 1px solid #fff;
  background-color: transparent;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__title {
  font-size: 36px;
  line-height: 20px;
  color: #6a6a6a;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-filter: drop-shadow(0px 1px 0px #fff);
          filter: drop-shadow(0px 1px 0px #fff);
  margin: 15px 0;
}

.blog__text {
  max-width: 630px;
  font-size: 14px;
  line-height: 21px;
  color: #999999;
  font-weight: 400;
  margin: 15px 0;
}

.blog__lines {
  margin: 15px 0;
}

.blog__line {
  border: 1px solid #999999;
}

.blog__content {
  margin-top: 55px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (0.5fr)[4];
      grid-template-columns: repeat(4, 0.5fr);
  -ms-grid-rows: (0.9fr)[2];
      grid-template-rows: repeat(2, 0.9fr);
  gap: 0;
  width: 100%;
}

.blog__item {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  width: 100%;
}

.blog__item:hover .hover {
  visibility: visible;
  -webkit-transition: 1s;
  transition: 1s;
}

.blog__item:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.blog__image {
  top: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
}

.hover {
  position: absolute;
  z-index: 2;
  visibility: hidden;
  background-color: #e74e3e;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 65px 50px;
  color: #fff;
}

.hover__subtitle {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0;
}

.hover__title {
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  margin: 25px 0 0 0;
}

.hover__title::after {
  content: "";
  display: block;
  width: 44px;
  border: 4px solid #fff;
  z-index: 5;
  margin: 15px 0 0 0;
  left: 0;
}

.hover__text {
  max-width: 382px;
  font-size: 16px;
  line-height: 30px;
  margin: 45px 0 0 0;
}

.hover__button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  font-style: italic;
  margin: 50px 0 0 0;
}

.stats {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url("../images/stats_image.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("../images/stats_image.png");
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stats__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats__square {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stats__icons {
  color: #f4f5f9;
  font-size: 30px;
}

.stats__number {
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #f4f5f9;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  margin: 45px 0 0 0;
}

.stats__title {
  font-size: 18px;
  line-height: 30px;
  color: #f4f5f9;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  margin: 10px 0 0 0;
}

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pricing__title {
  font-size: 36px;
  line-height: 20px;
  color: #6a6a6a;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-filter: drop-shadow(0px 1px 0px #fff);
          filter: drop-shadow(0px 1px 0px #fff);
  margin: 15px 0;
  margin-top: 150px;
  text-transform: uppercase;
}

.pricing__text {
  font-size: 14px;
  line-height: 21px;
  color: #999999;
  font-weight: 400;
  margin: 15px 0;
}

.pricing__lines {
  margin: 15px 0;
}

.pricing__line {
  border: 1px solid #999999;
}

.pricing__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (0.7fr)[3];
      grid-template-columns: repeat(3, 0.7fr);
  gap: 10px;
  width: 100%;
  margin: 65px 0 0 0;
}

.pricing__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  min-width: 380px;
  min-height: 609px;
  background-color: #f4f5f9;
}

.pricing__header {
  min-width: 380px;
  min-height: 205px;
  background-color: #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing__header--special {
  background-color: #e74e3e;
}

.pricing__name {
  font-size: 24px;
  letter-spacing: 2px;
  color: #fff;
  font-weight: 600;
  margin: 50px 0;
}

.pricing__squares {
  position: absolute;
  z-index: 2;
  width: 174px;
  height: 172px;
  border-radius: 50%;
  background-color: rgba(244, 245, 249, 0.5);
  top: -87px;
  left: calc(50% - 87px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing__square {
  width: 153px;
  height: 152px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 76px);
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pricing__value {
  font-size: 39px;
  line-height: 22px;
  color: #999999;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

.pricing__value--special {
  color: #e74e3e;
}

.pricing__time {
  font-size: 13px;
  color: #999999;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
}

.pricing__block {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing__text {
  font-size: 14px;
  line-height: 40px;
  color: #999999;
  font-weight: 600;
  margin: 0;
}

.pricing__button {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 40px;
  white-space: nowrap;
  width: 145px;
  height: 46px;
  border-radius: 2px;
  -webkit-filter: drop-shadow(0px 2px 2.5px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 2px 2.5px rgba(0, 0, 0, 0.25));
  background-color: #999999;
  z-index: 5;
  color: #f4f5f9;
  cursor: pointer;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: none;
  font-size: 12px;
  letter-spacing: 0px;
  color: #fff;
  font-weight: 600;
}

.pricing__button--special {
  background-color: #e74c3c;
}

@media (hover) {
  .pricing__button:hover {
    border: 1px solid #e74c3c;
    background-color: transparent;
    color: #e74c3c;
  }
}

.team {
  margin-top: 2px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75))), url("../images/team_image.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.75)), url("../images/team_image.png");
  min-height: 740px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
}

.team__wrap {
  background-image: url("../images/wra.svg");
  min-height: 740px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
}

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.team__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.team__title {
  font-size: 36px;
  letter-spacing: 4px;
  color: #fff;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  margin: 150px 0 0 0;
  text-transform: uppercase;
}

.team__text {
  font-size: 14px;
  line-height: 29px;
  color: #f4f5f9;
  font-weight: 400;
  margin: 15px 0;
}

.team__lines {
  margin: 15px 0;
}

.team__line {
  border: 1px solid #fff;
}

.team__leaders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 55px 0 0 0;
}

.team__leader {
  width: 50px;
  height: 50px;
  border: 3px solid #e74c3c;
  border-radius: 50%;
  background-color: #e74c3c;
  position: relative;
  z-index: 2;
  overflow: hidden;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 550ms;
          transition-duration: 550ms;
  cursor: pointer;
}

@media (hover) {
  .team__leader:hover {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
            transition-duration: 550ms;
    -webkit-filter: drop-shadow(0px 5px 7.5px #000000);
            filter: drop-shadow(0px 5px 7.5px #000000);
    opacity: 0.9;
  }
}

.team__leader--pos1 {
  top: 65px;
}

.team__leader--pos2 {
  top: 6px;
}

.team__leader--pos3 {
  top: -8px;
}

.team__leader--pos4 {
  top: 7px;
}

.team__leader--pos5 {
  top: 27px;
}

.team__image {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  top: 0;
  left: 0;
}

.team__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  margin-top: 72px;
  left: -45%;
  display: none;
}

.team__relative {
  position: relative;
  min-width: 100px;
}

.team__relative:hover .team__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__post {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #fff;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
}

.team__lead {
  font-size: 24px;
  letter-spacing: 2px;
  color: #e74c3c;
  font-weight: 600;
  margin: 0;
}

.team__lead::before {
  content: "";
  display: block;
  height: 50px;
  border: 1px solid #fff;
  z-index: 5;
  margin: 0 0 -15px 0;
  position: absolute;
  z-index: 25;
  top: -65px;
  left: 50%;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f4f5f9;
  padding-bottom: 140px;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__title {
  font-size: 36px;
  line-height: 20px;
  color: #6a6a6a;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-filter: drop-shadow(0px 1px 0px #fff);
          filter: drop-shadow(0px 1px 0px #fff);
  margin: 150px 0 15px;
}

.contact__text {
  max-width: 630px;
  font-size: 14px;
  line-height: 21px;
  color: #999999;
  font-weight: 400;
  margin: 15px 0;
}

.contact__lines {
  margin: 15px 0;
}

.contact__line {
  border: 1px solid #999999;
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  min-height: 570px;
}

.contact__item {
  -webkit-filter: drop-shadow(0px 3px 2.5px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 3px 2.5px rgba(0, 0, 0, 0.1));
  background-color: #fff;
  padding: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  min-height: 570px;
  margin: 10px;
}

.contact__item--special {
  width: 55%;
}

.contact__subtitle {
  font-size: 24px;
  line-height: 24px;
  color: #e74e3e;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 0 30px;
}

.contact__info, .contact__link {
  font-size: 18px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  margin: 0;
}

.contact__label {
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  font-weight: 600;
}

.contact__input {
  border: none;
  border-bottom: 0.5px solid #999999;
  width: 464px;
}

.contact__input--special {
  height: 100px;
}

.contact__button {
  width: 157px;
  -webkit-filter: drop-shadow(0px 2px 2.5px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 2px 2.5px rgba(0, 0, 0, 0.25));
  background-color: #e74e3e;
  font-size: 14px;
  line-height: 40px;
  color: #fff;
  font-weight: 700;
  border: 1px solid #e74c3c;
  border-radius: 2px;
  cursor: pointer;
}

@media (hover) {
  .contact__button:hover {
    background-color: transparent;
    color: #e74c3c;
  }
}

.footer {
  background-color: #202020;
  min-height: 90px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.footer__button {
  position: absolute;
  z-index: 5;
  width: 53px;
  height: 53px;
  border-radius: 27px;
  -webkit-filter: drop-shadow(0px 3px 2.5px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 3px 2.5px rgba(0, 0, 0, 0.25));
  background-color: #e74c3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  top: -26px;
  right: 50px;
  cursor: pointer;
}

@media (hover) {
  .footer__button:hover {
    border: 1px solid #e74c3c;
    background-color: #fff;
    color: #e74c3c;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__icon {
  font-size: 20px;
  padding: 10px;
  color: #999999;
  cursor: pointer;
}

.footer__icon--special {
  -webkit-filter: drop-shadow(0px 3px 1.5px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 3px 1.5px rgba(0, 0, 0, 0.25));
  color: #e74c3c;
}

@media (hover) {
  .footer__icon:hover {
    color: #fff;
  }
}

.footer__text {
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */