$main_color: #fff;
$color2: #e8e8e8;
$h1: 3em;
$h2: 2.25em;
$logo: 1.5em;
$h3: 1.375em;
$h4: 1.25em;
$main_text: 16px;
$min_text: 0.875em;
$line: 1.625em;
$max_letter: 0.3em;
$main_letter: 0.19em;
$min_letter: 0.06em;
$font_family1: 'Aleo', serif;
$font_family2: 'Josefin Sans', sans-serif;
$main_background: #5474fd;
$xxxl: 2560px;
$xxl: 1570px;
$xl: 1170px;
$lg: 988px;
$md: 770px;
$sm: 480px;
$xs: 375px;
$xs: 320px;
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    color: $main_color;
    line-height: $line;
    font-size: $main_text;
    font-family: $font_family2;
    @media (max-width:$lg) {
        font-size: $min_text;
    }
}
.section {
    margin: 0 auto;
    width: 100%;
    background-size: cover;
}
.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: inherit;
    @media (max-width: $xxxl) {
        max-width: 1500px;
    }
    @media (max-width: $xxl) {
        max-width: 1100px;
    }
    @media (max-width: $xl) {
        max-width: 900px;
    }
    @media (max-width: $lg) {
        max-width: 800px;
    }
    @media (max-width: $md) {
        max-width: 500px;
    }
    @media (max-width: $sm) {
        max-width: 300px;
    }
}
.section__main {
    background-image: linear-gradient( 90deg, rgba(85, 182, 254, 0.6), rgba(124, 91, 249, 0.8) 70.71%), url(../images/section_main/tu-tram-pham-202263.png);
    min-height: calc(100vh - 5.7em);
}
.section__main_2 {
    background-image: linear-gradient( 90deg, rgba(85, 182, 254, 0.6), rgba(124, 91, 249, 0.8) 70.71%), url(../images/photos-1284iH4Hjf4mhNgW.png);
    min-height: calc(100vh - 5.7em);
}
.section__navigation {
    background-image: linear-gradient( 90deg, rgba(85, 182, 254, 0.6), rgba(124, 91, 249, 0.8) 70.71%);
    color: $main_color;
    min-height: 5.7em;
    position: sticky;
    top: 0;
    z-index: 2;
}
.header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    min-height: inherit; 
    &__item {
        display: flex;
        flex-direction: row;
        color: $main_color;
        font-size: $logo;
        font-weight: bold;
    }
}
.nav__list {
    margin: 0;
    display: flex;
    list-style: circle;
    list-style-position: inside;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
}
.nav__item {
    margin: 0;
    cursor: pointer;
    padding: 10px 0;
    text-decoration: none;
    font-size: $min_text;
    font-family: $font_family1;
    font-weight: 400;
    :hover {
        background-color: $main_color;
        color: rgba(124, 91, 249, 1);
        box-shadow: inset 0 0 0 2px;
    }     
}
.link {
    width: 100%;
    margin: 0;
    text-decoration: none;
    color: $main_color;
    padding: 10px;
}
.burger {
    display: none;
}
.burger:checked ~ .nav {
    transform: translateY(201%);
}
.burger__label {
    display: none;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 48px;
    height: 48px;   
}
.burger__line {
    width: 80%;
    height: 3px;
    background: $main_color;    
}
@media (max-width: $xs) {
    .burger__label {
        display: flex;
        cursor: pointer;
    }
    .nav {
        max-height: calc(100vh - 4em);
        overflow: auto;
        position: absolute;
        background-color: $main_color;
        width: 100%;
        top: -322px;
        left: 0;
        z-index: 1;
        transform: translateY(-150vh);
        transition: transform 0.3s ease;
        @media (max-width: $xs) {
            top: -290px;
        }
    }
    .nav__list{
        height: auto;
        overflow: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        background-color: $main_background;
    }
    .nav__item {
        display: block;
    }
    .link {
        padding: 5px;
    }
}
.circle {
    background-color: inherit;
    border-radius: 50%;
    border: #fff 1px solid;
    color: #fff;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle:hover {
    opacity: 0.5;
    cursor: pointer;
}
.arrow {
    width: 6px;
    height: 6px;
    border-top: 1px solid $main_color;
    border-right: 1px solid $main_color;
    margin-right: 6px;
    transform: rotate(135deg);
    margin-left: 5px;
}
.icon{
    height: 20px;
    width: 20px;
}
.content__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: inherit;
}
/* Собственно сам слайдер */
.slider{
    max-width: 100;
    position: relative;    
    height: 300px;
    margin-bottom: 130px;
    margin: auto;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

/* Кнопки вперед и назад */
.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}


.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* При наведении на кнопки добавляем фон кнопок */

.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(109, 44, 212, 0.8);
}


/* Заголовок слайда */
.slideText {
    position: absolute;
    color: #fff;
    font-size: 35px;
    /* Выравнивание текста по горизонтали и по вертикали*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* Тень*/
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}


/* Кружочки */

.slider-dots {
  text-align: center;
 
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
    background-color: rgba(109, 44, 212, 0.8);
}


/* Анимация слайдов */

.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}