$main_color: #fff;
$color2: #e8e8e8;
$h1: 3em;
$h2: 2.25em;
$logo: 1.5em;
$h3: 1.375em;
$h4: 1.25em;
$main_text: 16px;
$min_text: 0.875em;
$line: 1.625em;
$max_letter: 0.3em;
$main_letter: 0.19em;
$min_letter: 0.06em;
$font_family1: 'Aleo', serif;
$font_family2: 'Josefin Sans', sans-serif;
$main_background: #5474fd;
$xxxl: 2560px;
$xxl: 1570px;
$xl: 1170px;
$lg: 988px;
$md: 770px;
$sm: 480px;
$xs: 375px;
$xs: 320px;
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    color: $main_color;
    line-height: $line;
    font-size: $main_text;
    font-family: $font_family2;
    @media (max-width:$lg) {
        font-size: $min_text;
    }
}
.section {
    margin: 0 auto;
    width: 100%;
    background-size: cover;
}
.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: inherit;
    @media (max-width: $xxxl) {
        max-width: 1500px;
    }
    @media (max-width: $xxl) {
        max-width: 1100px;
    }
    @media (max-width: $xl) {
        max-width: 900px;
    }
    @media (max-width: $lg) {
        max-width: 800px;
    }
    @media (max-width: $md) {
        max-width: 500px;
    }
    @media (max-width: $sm) {
        max-width: 300px;
    }
}