@font-face {
  font-family: 'Aleo';
  src: url(../fonts/Aleo_Regular/aleo-regular-webfont.eot);
  src: url(../fonts/Aleo_Regular/aleo-regular-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/Aleo_Regular/aleo-regular-webfont.woff) format("woff"), url(../fonts/Aleo_Regular/aleo-regular-webfont.woff2) format("woff2"), url(../fonts/Aleo_Regular/aleo-regular-webfont.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  color: #fff;
  line-height: 1.625em;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}

@media (max-width: 988px) {
  body {
    font-size: 0.875em;
  }
}

.section {
  margin: 0 auto;
  width: 100%;
  background-size: cover;
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: inherit;
}

@media (max-width: 2560px) {
  .container {
    max-width: 1500px;
  }
}

@media (max-width: 1570px) {
  .container {
    max-width: 1100px;
  }
}

@media (max-width: 1170px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 988px) {
  .container {
    max-width: 800px;
  }
}

@media (max-width: 770px) {
  .container {
    max-width: 500px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 300px;
  }
}

.section__main {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(1, 1, 1, 0.2))), url(../images/background_1.png);
  background-image: linear-gradient(to top, rgba(1, 1, 1, 0.2)), url(../images/background_1.png);
  min-height: calc(100vh - 3em);
}

.h1, .title__upper, .button, .header {
  text-transform: uppercase;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  to {
    -webkit-transform: rotateY(30deg);
            transform: rotateY(30deg);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  to {
    -webkit-transform: rotateY(30deg);
            transform: rotateY(30deg);
  }
}

.content__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: inherit;
}

.content__main__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__main__secondchild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875em;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-animation: pulse 1s linear 0.2s;
          animation: pulse 1s linear 0.2s;
}

.content__main__thirdchild:hover {
  opacity: 0.5;
  cursor: pointer;
}

.h1 {
  font-size: 3em;
  letter-spacing: 0.3em;
  font-weight: bold;
}

@media (max-width: 480px) {
  .h1 {
    font-size: 1.5em;
  }
}

.h2 {
  font-size: 2.25em;
  font-family: "Aleo", serif;
}

.h2__nonupper {
  text-transform: none;
}

@media (max-width: 480px) {
  .h2 {
    font-size: 1em;
    text-align: center;
  }
}

.h3 {
  font-size: 1.375em;
  letter-spacing: 0.44em;
  font-family: "Aleo", serif;
}

@media (max-width: 480px) {
  .h3 {
    font-size: 1em;
    text-align: center;
  }
}

.h4 {
  font-size: 1.25em;
  letter-spacing: 0.125em;
  color: #e8e8e8;
}

.h4__upper {
  letter-spacing: normal;
}

@media (max-width: 480px) {
  .h4 {
    font-size: 1em;
    text-align: center;
  }
}

.p {
  color: #e8e8e8;
}

.p__wide {
  letter-spacing: 0.125em;
}

.textarea {
  resize: none;
  min-width: 31.25em;
  min-height: 60px;
  text-align: center;
  padding-top: 20px;
  color: #999999;
  overflow: hidden;
  border: none;
}

@media (max-width: 1170px) {
  .textarea {
    min-width: 25em;
    min-height: 4em;
  }
}

@media (max-width: 988px) {
  .textarea {
    min-width: 20em;
    min-height: 3em;
  }
}

.button {
  min-width: 9.34em;
  min-height: 60px;
  background-color: #5474fd;
  border: none;
  font-family: "Aleo", serif;
  color: #fff;
  cursor: pointer;
}

.button__firstchild {
  border: 2px solid #fff;
}

@media (max-width: 1170px) {
  .button {
    min-width: 5em;
    min-height: 4em;
  }
}

@media (max-width: 988px) {
  .button {
    min-width: 5em;
    min-height: 4.1em;
  }
}

@media (max-width: 480px) {
  .button {
    display: none;
  }
}

.search {
  padding: 18px 52px;
}

.arrow {
  width: 6px;
  height: 6px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  margin-right: 6px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.scroll {
  font-size: 0.875em;
  letter-spacing: 0.19em;
  cursor: pointer;
}

.section__navigation {
  background-color: #5474fd;
  color: #fff;
  min-height: 3em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.header {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: inherit;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

.nav__list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
}

.nav__list__item {
  margin: 0;
  cursor: pointer;
  padding: 10px 0;
  text-decoration: none;
  font-size: 0.875em;
  font-family: "Aleo", serif;
  font-weight: 400;
}

.nav__list__item :hover {
  background-color: #fff;
  color: #FF2E63;
  -webkit-box-shadow: inset 0 0 0 2px;
          box-shadow: inset 0 0 0 2px;
}

.link {
  width: 100%;
  margin: 0;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.burger {
  display: none;
}

.burger:checked ~ .nav {
  -webkit-transform: translateY(201%);
          transform: translateY(201%);
}

.burger__label {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
}

.burger__line {
  width: 80%;
  height: 3px;
  background: #fff;
}

@media (max-width: 1170px) {
  .burger__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
  .nav {
    max-height: calc(100vh - 4em);
    overflow: auto;
    position: absolute;
    background-color: #fff;
    width: 100%;
    top: -322px;
    left: 0;
    z-index: 1;
    -webkit-transform: translateY(-150vh);
            transform: translateY(-150vh);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
}

@media (max-width: 1170px) and (max-width: 988px) {
  .nav {
    top: -290px;
  }
}

@media (max-width: 1170px) {
  .nav__list {
    height: auto;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #5474fd;
  }
  .nav__list__item {
    display: block;
  }
  .link {
    padding: 5px;
  }
}

.section__choice {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(3, 3, 3, 0.9))), url(../images/background_2.png);
  background-image: linear-gradient(to top, rgba(3, 3, 3, 0.9)), url(../images/background_2.png);
  min-height: 90vh;
}

.content__choice {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: inherit;
  padding: 0 10px;
}

.content__choice__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.content__choice__secondchild {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.image {
  width: 21.6em;
  height: 13.75em;
  position: relative;
  margin-top: 5px;
}

.image__first {
  left: -6.25em;
}

@media (max-width: 988px) {
  .image__first {
    left: -20px;
  }
}

@media (max-width: 1170px) {
  .image {
    width: 15em;
    height: 10em;
  }
}

@media (max-width: 480px) {
  .image {
    display: none;
  }
}

@media (max-width: 320px) {
  .image {
    display: none;
  }
}

.svg {
  width: 6em;
  height: 6em;
  border-radius: 48px;
  position: relative;
}

@media (max-width: 1170px) {
  .svg {
    min-width: 4em;
    min-height: 4em;
  }
}

@media (max-width: 988px) {
  .svg {
    min-width: 2em;
    min-height: 2em;
  }
}

@media (max-width: 480px) {
  .svg {
    min-width: 1em;
    min-height: 1em;
  }
}

@media (max-width: 320px) {
  .svg {
    min-width: 1em;
    min-height: 1em;
  }
}

.img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
}

.section__selection {
  background-color: #333;
  min-height: 21em;
}

.content__selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: inherit;
  color: #e8e8e8;
}

@media (max-width: 1570px) {
  .content__selection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
}

.content__selection__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin: 0 6.25em;
}

.section__spain__left {
  background-image: url(../images/background_3.png);
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__spain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
  background-color: rgba(35, 35, 35, 0.9);
  padding: 50px 20px;
}

@media (max-width: 770px) {
  .content__spain {
    width: 70%;
  }
}

.content__spain__right {
  margin-left: 50%;
}

@media (max-width: 770px) {
  .content__spain__right {
    margin-left: 20%;
  }
}

.content__spain__left {
  margin-left: -50%;
}

@media (max-width: 770px) {
  .content__spain__left {
    margin-left: -20%;
  }
}

.section__spain__right {
  background-image: url(../images/background_4.png);
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__reviews {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(3, 3, 3, 0.9))), url(../images/background_5.png);
  background-image: linear-gradient(to top, rgba(3, 3, 3, 0.9)), url(../images/background_5.png);
  min-height: 90vh;
}

.content__reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content__reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media (max-width: 770px) {
  .content__reviews__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.content__reviews__lastchild {
  background-color: #333;
  overflow: hidden;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.padding {
  padding: 0 40px;
}

.section__end {
  background-color: #232323;
  min-height: 13.75em;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: inherit;
}

.specaial__icon {
  color: #5474fd;
}

.quotes {
  font-size: 1.25em;
  color: #5474fd;
}

.button:hover, .icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.image__marg {
  margin: 0;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */