<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monticello</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <link rel="manifest" href="../favicon/site.webmanifest">
    <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../sass/normalize.css">
    <link rel="stylesheet" href="../sass/style.css">
    <link rel="stylesheet" href="../icomoon/style.css">
</head>
<body>
    <section class="section section__navigation">
        <div class="container">
            <header class="header">
                <div class="header__item"><a class="link" href="#" target="_blank"><img src="../images/logo/Logo.svg" alt="logo"></a>
                </div>
                <div class="header__item">
                    <input id="burger" type="checkbox" class="burger">
                    <label for="burger" class="burger__label">
                        <span class="burger__line"></span>
                        <span class="burger__line"></span>
                        <span class="burger__line"></span>
                    </label>
                    <nav class="nav">
                        <ul class="nav__list" id="nav__list">
                            <li class="nav__item active__item"><a class="link" href="#">About us</a></li>
                            <li class="nav__item"><a class="link" href="#Projects">Projects</a></li>
                            <li class="nav__item"><a class="link" href="#">News</a></li>
                            <li class="nav__item"><a class="link" href="#">Contact</a></li>
                        </ul>
                    </nav>                   
                </div>
                <div class="header__item header__thirdchild">
                    <a class="link" href="#"><div class="circle"><span class="icon icon-facebook"></span></div></a>
                    <a class="link" href="#"><div class="circle"><span class="icon icon-twitter"></span></div></a>
                    <a class="link" href="#"><div class="circle"><span class="icon icon-pinterest2"></span></div></a>                                     
                </div>
            </header>
        </div>
    </section>
    <div class="slider">
        <section class="section section__main section__firstchild item">
            <div class="container">
                <div class="content__main">
                    <div class="content__items">
                        <h1 class="h1">Simple&Morden</h1>
                        <h3 class="h3">We make the world's beautiful every day</h3>
                    </div>
                    <div class="content__items">
                        <div class="scroll"><a class="link" href="#Projects"><div class="circle"><div class="arrow"></div></div></a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section__main section__secondchild item">
            <div class="container">
                <div class="content__main">
                    <div class="content__items">
                        <h1 class="h1">cheap&high quality</h1>
                        <h3 class="h3">We make the world's beautiful every day</h3>
                    </div>
                    <div class="content__items">
                        <div class="scroll"><a class="link" href="#Projects"><div class="circle"><div class="arrow"></div></div></a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section__main section__thirdchild item">
            <div class="container">
                <div class="content__main">
                    <div class="content__items">
                        <h1 class="h1">quickly&efficiently</h1>
                        <h3 class="h3">We make the world's beautiful every day</h3>
                    </div>
                    <div class="content__items">
                        <div class="scroll"><a class="link" href="#Projects"><div class="circle"><div class="arrow"></div></div></a></div>
                    </div>
                </div>
            </div>
        </section>
        <a class="prev" onclick="minusSlide()">&#10094;</a>
        <a class="next" onclick="plusSlide()">&#10095;</a>
    </div>
    <div class="slider-dots">
        <span class="slider-dots__item" onclick="currentSlide(1)"></span> 
        <span class="slider-dots__item" onclick="currentSlide(2)"></span> 
        <span class="slider-dots__item" onclick="currentSlide(3)"></span> 
    </div>
    <section id="Projects" class="section section__projects">
        <div class="container">
            <div class="content__projects">
                <header class="header__projects"><h2 class="h2 strip">what we do</h2></header>
                <main class="main__projects">
                    <div class="main__items">
                        <div class="main__item">
                            <div class="photo">
                                <img class="photo__image" src="../images/section_project/joel-filipe-151697.png">
                            </div>
                            <div class="box"></div>
                        </div>
                        
                        <div class="main__item">
                            <h3 class="h3">One World</h3>
                            <h2 class="h2">Trade Center</h2>
                            <p class="paragraph">Increasing prosperity in our lives can be accomplished by having the right frame of mind. The truth is, our thoughts are very powerful.</p>
                            <button class="btn">More details</button>
                            <p>New York City, United States - 1776 feet</p> 
                        </div>
                    </div>
                    <div class="main__items">
                        <div class="main__item">
                            <h3 class="h3">International</h3>
                            <h2 class="h2">Commerce Centre</h2>
                            <p class="paragraph">Successful businesses have many things in common, today we’ll look at the big ‘R’ of recognition and how a digital advertising network may help.</p>
                            <button class="btn">More details</button>
                            <p>Hong Kong - 1588 Feet</p> 
                        </div>
                        <div class="main__item">
                            <div class="photo">
                                <img class="photo__image" src="../images/section_project/photos-1284iH4Hjf4mhNgW.png">
                            </div>
                            <div class="box"></div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </section>
    <section class="section section__news">

    </section>
    <section class="section"></section>
    <section class="section"></section>
    <section class="section"></section>
    
    <script src="../js.js/js.js"></script>
    
</body>
</html>