<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BHROMAON</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <link rel="manifest" href="../favicon/site.webmanifest">
    <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../sass/normalize.css">
    <link rel="stylesheet" href="../sass/style.css">
    <link rel="stylesheet" href="../icomoon/style.css">
</head>
<body>
    <section class="section section__main">
        <div class="container">
            <div class="content__main">
                <div class="content__main__items">
                    <h1 class="h1">Bhromaon</h1>
                    <h3 class="h3">Safe Travel Anywhere</h3>
                </div>
                <div class="content__main__items content__main__secondchild">
                    <textarea class="textarea" name="textarea" placeholder="Search Your Travel Destination"></textarea>
                    <button class="button button__firstchild"><span class="search">Search&emsp;<span class="icon-search"></span></span></button>
                </div>
                <div class="content__main__items  content__main__thirdchild">
                    <div class="scroll"><a class="link" href="#WhyChooseUs">Scroll Down</a></div>
                    <div class="arrow"></div>
                </div>
            </div>
        </div>
    </section>
    <div class="section section__navigation">
        <div class="container">
            <header class="header">
                <div class="header__item"><a class="link" href="#" target="_blank">BHROMAON</a>
                </div>
                <div class="header__item">
                    <input id="burger" type="checkbox" class="burger">
                    <label for="burger" class="burger__label">
                        <span class="burger__line"></span>
                        <span class="burger__line"></span>
                        <span class="burger__line"></span>
                    </label>
                    <nav class="nav">
                        <ul class="nav__list">
                            <li class="nav__list__item"><a class="link" href="#">Who We Are</a></li>
                            <li class="nav__list__item"><a class="link" href="#">What We Do</a></li>
                            <li class="nav__list__item"><a class="link" href="#">Travel With Us</a></li>
                            <li class="nav__list__item"><a class="link" href="#">Contact Us</a></li>
                        </ul>
                    </nav>                   
                </div>
            </header>
        </div>
    </div>
    <section id="WhyChooseUs" class="section section__choice">
        <div class="container">
            <div class="content__choice">
                <div class="content__choice__item">
                    <h2 class="h2">Why Choose Us</h2>
                    <p class="p p__wide">Tion and dislike men who are so beguiled and demoralized by desire by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee</p>
                    <p class="p p__wide">Ddislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by</p>
                    <button class="button">Explore&emsp;Places</button>
                </div>
                <div class="content__choice__item content__choice__secondchild">
                    <div class="image image__first">
                        <img class="img" alt="image" src="../images/image_1.png">
                    </div>
                    <div class="image">
                        <img class="img" alt="image" src="../images/image_2.png">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section__selection">
        <div class="container">
            <div class="content__selection">                
                <div class="content__selection__item">
                    <div class="svg"><img class="img" alt="image" src="../images/svg_1.svg"></div>
                    <h2 class="h2">Search Places</h2>
                </div>
                <div class="content__selection__item">
                    <div class="svg"><img class="img" alt="image" src="../images/svg_2.svg"></div>
                    <h2 class="h2">Select Places</h2>
                </div>
                <div class="content__selection__item">
                    <div class="svg"><img class="img" alt="image" src="../images/svg_3.svg"></div>
                    <h2 class="h2">Book & Enjoy</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="section section__spain__left">
        <div class="container">
            <div class="content__spain content__spain__left">
                <div class="content__spain__item">
                    <h4 class="h4">Spain</h4>
                    <h4 class="h4 title__upper">Grand Spain Madrid</h4>
                    <p class="p">But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete</p>
                    <button class="button">Book Now</button>
                </div>
            </div>
        </div>
    </section>
    <section class="section section__spain__right">
        <div class="container">
            <div class="content__spain content__spain__right">
                <div class="content__spain__item">
                    <h4 class="h4">Spain</h4>
                    <h4 class="h4 title__upper">Grand Spain Madrid</h4>
                    <p class="p">But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete</p>
                    <button class="button">Book Now</button>
                </div>
            </div>
        </div>
    </section>
    <section class="section section__reviews">
        <div class="container">
            <div class="content__reviews">
                <div class="content__reviews__item">
                    <h2 class="h2">What Our  Tourist Say</h2>
                </div>
                <div class="content__reviews__item">
                    <div class="content__reviews__firstchild">
                        <div class="image image__marg">
                            <img class="img" alt="image" src="../images/image_3.png">
                        </div>
                    </div>
                    <div class="content__reviews__lastchild">
                        <h4 class="h4 title__upper padding">Sam Sumon</h4>                 
                        <blockquote class="p"><span class="quotes">&#8220;</span> But I must explain to you how all this mistaken idea of account to denouncinpleasure and praising pain  But I must explain to you how all this mistaken idea of account to nai denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system was account  born and I account will</blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="section section__end">
        <div class="container">
            <footer class="footer">
                <div class="footer__item header__item"><a class="link" href="#" target="_blank">BHROMAON</a>
                </div>
                <div class="footer__item">
                    <p class="p p__wide">Safe Travel Anywhere</p>
                </div>
                <div class="footer__item">
                    <a class="link" href="#"><span class="icon icon-facebook"></span></a>
                    <a class="link" href="#"><span class="icon icon-twitter"></span></a>
                    <a class="link" href="#"><span class="icon icon-linkedin2 specaial__icon"></span></a>
                    <a class="link" href="#"><span class="icon icon-youtube"></span></a>
                    <a class="link" href="#"><span class="icon icon-pinterest2"></span></a>                                     
                </div>
            </footer>
        </div>
    </div>
    
</body>
</html>